body
{
    margin: auto;
    width: 600px;
    color: rgb(48, 57, 66);
    font-size: 12px;
    font-family: 'Noto Sans', 'Segoe UI', 'Lucida Grande', 'Open Sans', arial, sans-serif;
}

h1
{
    display: inline;
    padding-left: 8px;
    vertical-align: middle;
    line-height: 24px;
}

img
{
    vertical-align: middle;
    line-height: 24px;
}

header
{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.inputContainer
{
    margin: 8px 20px;
    vertical-align: middle;
}

#status
{
    display: none;
    margin-left: 50px;
    padding: 8px 14px;
    width: 250px;
    border: 1px solid #d6e9c6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #dff0d8;
    color: #468847;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

button
{
    display: inline-block;
    padding: 5px 14px;
    width: 75px;
    text-align: center;
    cursor: pointer;
}

input
{
    cursor: pointer;
}

    input:disabled
    {
        cursor: auto;
    }
